<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloTriangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloTriangleEx.1 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HelloTriangleEx.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HelloTriangleEx.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HelloTriangleEx.3 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HelloTriangleEx.3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HelloWindow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shaders.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA249FBC265E905F009A70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA323EE9264C16D8007A8CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA684BB6265F596800AEFFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA684CBB26649F2600AEFFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA99518F2646B59A0091E7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9951D02647B9BD0091E7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
